<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.cissst.software.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<filter-class>com.cissst.software.filter.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
   <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
     <!-- 
     struts 2.0配置
       <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
       一要学习技术，二要学习技术的方法
      -->
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    	<!-- 资源访问配置 -->
<!-- 	<filter>
		<filter-name>resource</filter-name>
		<filter-class>net.optix.common.filter.ResourceFilter</filter-class>
	</filter>

	

	<filter-mapping> <filter-name>CacheFilter</filter-name> <url-pattern>*.action</url-pattern> 
		</filter-mapping>

	<filter-mapping>
		<filter-name>resource</filter-name>
		<url-pattern>/resource/*</url-pattern>
	</filter-mapping>  -->
<!-- 	<servlet>
		<servlet-name>go</servlet-name>
		<servlet-class>net.optix.servlet.GoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>go</servlet-name>
		<url-pattern>/go</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>goto</servlet-name>
		<servlet-class>net.optix.servlet.GotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>goto</servlet-name>
		<url-pattern>/goto</url-pattern>
	</servlet-mapping>  -->
	
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>